@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
    margin:0;   
    padding:0;
    box-sizing: border-box;
} 

html{
    background-image:url("../images/Background-3d-largo.png");
    /* background-image:linear-gradient(black, grey, white, orange); */
    background-size:cover;
    /* background-repeat:no-repeat; */
    /* background-repeat: repeat-x; */
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 62.5%;
    /*1rem = 10px*/
    }

/* .grid-container{
    background-color: green;
} */

/* 
.parallax{
    background-image: url("...");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
} */

header{
    display:flex; /*--> Interactúa mal con el flex del body: hace que el menú quede a la izquierda en el contenedor */
    justify-content:space-between;
    flex-direction: row;
    /* align-items: center; */
    background-color:black;
    /* color:black; */
    padding: 10px;
    width: 100%;
    margin:0px;
    position:fixed;
    top:0;
    left:0;
    z-index:1000; /*Hace que el header esté siempre arriba*/
}

/*LOGO*/
.header img {
    display: flex;
    justify-content: space-between;
    width: 18rem;
    height: auto;
}

.navbar {
    justify-content: flex-end;
    align-items: center;
    width: auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.menu ul{
    display:flex;
    list-style-type: none;
    padding:0;
    margin:0;
}

.menu ul li{
    display:inline; /* Pone los botones en línea */
    margin-right: 1rem; /*Margen de la caja con el borde de la pantalla*/
    position:relative; /* Posición para las sublistas */
}

.menu ul li a{
    display:inline-block;
    padding: 1rem;
    color:#fff;
    text-decoration-line: none; /*Quitar la línea de los links*/
    font-size:2rem;
}

.menu ul li a:hover{ /*Acción para cuando el mouse pasa por encima*/
    background-color: rgba(203, 138, 0, 1);
    border-radius: 0.5rem;
    /* padding:0.5rem; --> Esto causa problemas con el padding del "#menu nav ul li a"*/
}

.menu ul li ul{
    display: none; /* Ocultar sublistas por defecto */
    position: absolute; /* Posicionar sublistas de manera absoluta */
    top: 100%; /* Desplazar sublistas hacia abajo */
    left: 0;
    background-color: rgb(0, 0, 0);
    border: none;/*solid #ccc;*/
    padding: 0.5rem 0rem;
    font-size:1rem;
    list-style-type: none;
}

.menu ul li:hover ul{
    display:block; /* Mostrar sublistas cuando se pasa el ratón sobre el elemento padre */
    border-radius: 0.5rem;
    padding:0.5rem;
}

.grid-section {
    margin: 0 2rem 0 2rem;
}

/* body {
    display:flex;
    height: auto;
    width: 1000px;
    margin: 1rem 1rem 1rem 0rem;
    background-color: none;
    padding: 0 20px 20px 20px;
    color:#ffffff;
    border: 5px solid rgb(255, 255, 255);
} */

body {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    background-color: none;
    color:#ffffff;
}

h1 {
    padding: 20px 0;
    margin-top: 5rem;
    text-align:center;
    font-size:5rem;
}

.tituloprincipal {
    padding: 20px 0;
    margin-top: 1rem;
    text-align:center;
    font-size:5rem;
}

main {
    height: auto;
    width: 100%;
}

h3{
    font-size: 3rem;
    /* margin-bottom: 10rem; */
}

.grilla-imagen{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    margin: 0 0 3rem 0;
}

.grilla-imagen img{
    width: 40rem;
    height: auto;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}

.grilla-imagen p{
    width: 70rem;
    height: auto;
}

.grilla-video{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    margin: 0 0 3rem 0;
}

.grilla-video video{
    width: 40rem;
    height: auto;
    border-radius: 1rem;
}

.grilla-video p{
    width: 70rem;
    height: auto;
}

p{
    font-size: 2.5rem;
    text-align:justify;
}

p li {
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 0.1rem;
}

/* body img {
    display:block; --> genera problemas en la ubicación del logo
    margin:0 auto;
    width: 100;
    height:auto;
} */

/*Carusel de Imágenes*/
/* Estilos para la lista de imágenes */
.carousel {
    width: 80%; /* Ajusta esto según tus necesidades, el 60% es solo un ejemplo*/
    overflow: hidden; /*Oculta las imágenes que están fuera del contenedor*/
    margin: 0 auto; /*Centra el carrusel en la página*/
}

.slides {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    overflow-x: auto; /* Propiedad de box-model: Permitir el desplazamiento horizontal */
    margin: 1rem 5rem 5rem 5rem;
    /* margin: 0; Eliminar el margen predeterminado */
     /* width: auto; Ancho suficiente para contener todas las imágenes en línea */
}

.slides li {
    /* margin-left: 2rem; */
    /* padding: 0 2rem;
    width: 100rem; */
    flex: 0 0 33.3333%; /* Muestra 3 imágenes a la vez, ajusta a 50% para 2 imágenes */
    box-sizing: border-box;
    padding: 0 1rem; /* Espacio entre las imágenes */
}

.slides li img {
    max-width: 100%; /* Ajusta el ancho de la imagen al ancho del elemento de lista */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    border-radius: 1rem;
    /* width: 100%; */
}

.video-container {
    /* flex-direction: row; */
    justify-content: space-around;
}

footer {
    align-items: flex-end;
    font-size:2rem;
    background-color: black;
    position:relative;
    bottom:0%;
    margin-top:auto;
}

footer p, li{
    font-size:1.6rem;
}

/* .content-wrapper {
    flex: 1 0 auto;
} */

/* footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem;
    font-size:2rem;
    background-color: black;
    color:#ffffff;
    text-align:center;
    width:100%;
    margin-top:auto;
} */

.footer-general {
    padding:0; /*con 1, agrega un espacio debajo del footer*/
    margin:0;
}

.footer-general div h3{
    margin:1rem;
}

.contacto {
    display:flex; /*display flex para contacto que contiene a redes-sociales y a información-contacto*/
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

.redes-sociales,
.informacion-contacto {
    flex-basis: 45%; /* Define el ancho inicial de cada columna */
}

.redes-sociales h3,
.informacion-contacto h3 {
    margin-bottom: 1rem; /* Espaciado inferior para los encabezados */
}

.contacto img{
    display:inline;
    width: 3rem;
    margin:0.5rem;
    vertical-align: middle;
}

.contacto a{
    text-decoration: none;
    color:#fff;
    margin:0.5rem;
    margin-right: 3rem;
}

.contacto a:hover{
    background-color: rgba(203, 138, 0, 1);
    border-radius:0.5rem;
    padding:1rem;
}

.volver-arriba {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: sticky;
    bottom: 1rem;
    left: 60rem;
    margin-right: 1rem;
}

.volver-arriba img{
    width:5rem;
    height: auto;
}

.volver-arriba img:hover{
    background-color: rgba(36, 107, 150, 1);
    border-radius: 12rem;
}
/*<---Grids--->*/
.grid-header {
    grid-area: header;
}

.grid-main{
    grid-area: main;
}

.grid-section{
    grid-area: section;
}

.grid-footer{
    grid-area: footer;
}

.grid-container {   
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    width: 100%;
    height: 100vh;
}   
/*mobile*/
@media screen and (min-width: 320px) and (max-width: 767px){
    .grid-container {   
        grid-template-columns: 1fr;
        grid-template-rows: 4rem auto 20rem;
        grid-template-areas:    
            "header"
            "main"
            "footer";
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
    }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    .grid-container {   
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 4rem auto 20rem;
        grid-template-areas:    
            "header header header"
            "main main main"
            "footer footer footer"
            ;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
    }

    /* Carusel de Imágenes */
    .carousel {
        overflow: hidden; /* Oculta el desbordamiento para mantener las imágenes dentro del contenedor */
        width:80%;
        margin:auto;
        margin-top:10rem;
    }
}

/*desktop*/
@media screen and (min-width: 1024px){
    .grid-container {   
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 4rem auto 20rem;
        grid-template-areas:    
            "header header header"
            "main main main"
            "footer footer footer"
            ;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
    }
}